@import "~react-image-gallery/styles/css/image-gallery.css";

body,
html,
#__next {
    height: 100%;
}

.fullHeight,
.hero {
    min-height: calc(100vh - 130px);
    padding-bottom: 50px;
    padding-top: 50px;
    width: 100%;
}