name: Cypress Tests

env:
  GRAPHQL_CONTENT_ENDPOINT: ${{secrets.GRAPHQL_CONTENT_ENDPOINT}}
  MONGODB_URI: ${{secrets.MONGODB_URI}}

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          build: yarn build
          start: yarn start

